name: Build and Push Docker Image to AWS ECR

on:
    workflow_call:
        inputs:
            dockerfile:
                description: 'File Name of the Dockerfile'
                required: false
                type: string
                default: 'Dockerfile'
            dockerfile-path:
                description: 'Path of the Dockerfile'
                required: false
                type: string
                default: '.'
            build_context:
                description: 'Docker build context'
                required: false
                type: string
                default: '.'

env:
    AWS_REGION: eu-west-3

jobs:
    docker_build_and_push_ecr:
        runs-on: ubuntu-latest
        
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4
            
            - name: Get Commit Sha
              id: var
              run: echo "short_sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
                            
            - uses: actions/checkout@v4
            - uses: docker://ghcr.io/kciter/aws-ecr-action:latest
              with:
                access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                account_id: ${{ secrets.AWS_ACCOUNT_ID }}
                repo: ${{ secrets.AWS_ECR_REPOSITORY }}
                region: ${{ env.AWS_REGION }}
                tags: latest, ${{ steps.var.outputs.short_sha }}    
                dockerfile: ${{ inputs.dockerfile }}
                build_context: ${{ inputs.build_context }}  