name: Docker Build and Push

on:
  workflow_call:
    inputs:
      image-name:
        description: 'Name of the Docker image'
        required: true
        type: string
      docker-context:
        description: 'Docker build context'
        required: false
        type: string
        default: '.'
      dockerfile-path:
        description: 'Path of the Dockerfile'
        required: false
        type: string
        default: './Dockerfile'
      docker-push:
        description: 'Whether to push the Docker image'
        required: false
        type: boolean
        default: true
      

jobs:
  docker-build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Get Short Github Sha
        id: vars
        run: echo "short_sha=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.docker-context }}
          file: ${{ inputs.dockerfile-path }}
          push: ${{ inputs.docker-push }}
          tags: |
            ${{ inputs.image-name }}:latest
            ${{ inputs.image-name }}:${{ steps.vars.outputs.short_sha }}