name: Build and Push Docker Image to AWS ECR

on:
    workflow_call:
        inputs:
            ecr-registry:
                description: 'AWS ECR Registry URL'
                required: true
                type: string 
            ecr-repository:
                description: 'AWS ECR Repository Name'
                required: true
                type: string
            dockerfile-path:
                description: 'Path of the Dockerfile'
                required: false
                type: string
                default: './Dockerfile'
            build_context:
                description: 'Docker build context'
                required: false
                type: string
                default: '.'

env:
    AWS_REGION: eu-west-3

jobs:
    docker_build_and_push_ecr:
        runs-on: ubuntu-latest
        
        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            
            - name: Get Commit Sha
              id: var
              run: echo "short_sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

            - name: Extract Branch Name
              shell: bash
              id: extract_branch
              run: |
                echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
                            
            - name: Build and Push Image to ECR
              uses: anilrajrimal1/aws-ecr-docker-builder-action@v1.0.0
              with:
                    AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
                    AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                    AWS_REGION: ${{ env.AWS_REGION }}
                    ECR_REGISTRY: ${{ inputs.ecr-registry }}
                    ECR_REPOSITORY: ${{ inputs.ecr-repository }}
                    BRANCH_NAME: ${{ steps.extract_branch.outputs.branch }}
                    IMAGE_TAG: ${{ steps.var.outputs.short_sha }}
                    DOCKERFILE_PATH: ${{ inputs.dockerfile-path }}
                    BUILD_CONTEXT: ${{ inputs.build_context }}

            